<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Porcentagens e Líderes</title>
</head>
<body>
    <h2>Inserir Porcentagens</h2>
    <form action="/" method="post">
        <!-- Região 1 -->
        <fieldset>
        <legend>Região 1</legend>
        <label for="region1_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region1_elisa_percentage" name="region1_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region1_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region1_tony_percentage" name="region1_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>
        
        <!-- Região 2 -->
        <fieldset>
        <legend>Região 2</legend>
        <label for="region2_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region2_elisa_percentage" name="region2_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region2_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region2_tony_percentage" name="region2_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>

        <!-- Região 3 -->
        <fieldset>
        <legend>Região 3</legend>
        <label for="region3_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region3_elisa_percentage" name="region3_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region3_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region3_tony_percentage" name="region3_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>
        
        <!-- Região 4 -->
        <fieldset>
        <legend>Região 4</legend>
        <label for="region4_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region4_elisa_percentage" name="region4_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region4_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region4_tony_percentage" name="region4_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>
        
        <!-- Região 5 -->
        <fieldset>
        <legend>Região 5</legend>
        <label for="region5_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region5_elisa_percentage" name="region5_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region5_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region5_tony_percentage" name="region5_tony_percentage" min="0" max="100" step="0.1">
        </fieldset>
        
        <!-- Região 6 -->
        <fieldset>
        <legend>Região 6</legend>
        <label for="region6_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region6_elisa_percentage" name="region6_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region6_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region6_tony_percentage" name="region6_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>
        
        <!-- Região 7 -->
        <fieldset>
        <legend>Região 7</legend>
        <label for="region7_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region7_elisa_percentage" name="region7_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region7_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region7_tony_percentage" name="region7_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>

        <!-- Região 8 -->
        <fieldset>
        <legend>Região 8</legend>
        <label for="region8_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region8_elisa_percentage" name="region8_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region8_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region8_tony_percentage" name="region8_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>

        <!-- Região 9 -->
        <fieldset>
        <legend>Região 9</legend>
        <label for="region9_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region9_elisa_percentage" name="region9_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region9_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region9_tony_percentage" name="region9_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>

        <!-- Região 10 -->
        <fieldset>
        <legend>Região 10</legend>
        <label for="region10_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region10_elisa_percentage" name="region10_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region10_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region10_tony_percentage" name="region10_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>

        <!-- Região 11 -->
        <fieldset>
        <legend>Região 11</legend>
        <label for="region11_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region11_elisa_percentage" name="region11_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region11_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region11_tony_percentage" name="region11_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>

        <!-- Região 12 -->
        <fieldset>
        <legend>Região 12</legend>
        <label for="region12_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region12_elisa_percentage" name="region12_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region12_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region12_tony_percentage" name="region12_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>

        <!-- Região 13 -->
        <fieldset>
        <legend>Região 13</legend>
        <label for="region13_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region13_elisa_percentage" name="region13_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region13_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region13_tony_percentage" name="region13_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>

        <!-- Região 14 -->
        <fieldset>
        <legend>Região 14</legend>
        <label for="region14_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region14_elisa_percentage" name="region14_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region14_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region14_tony_percentage" name="region14_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>

        <!-- Região 15 -->
        <fieldset>
        <legend>Região 15</legend>
        <label for="region15_elisa_percentage">Porcentagem Elisa:</label>
        <input type="number" id="region15_elisa_percentage" name="region15_elisa_percentage" min="0" max="100" step="0.1">
        <label for="region15_tony_percentage">Porcentagem Tony:</label>
        <input type="number" id="region15_tony_percentage" name="region15_tony_percentage" min="0" max="100" step="0.1">
        
        </fieldset>

        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>